In [1]:
import os
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_theme(style="whitegrid")
import statistics
import math

In [2]:
scenarioname = "NL-LowRES_(2010)"

In [3]:
years = list(range(2050,2090))

In [4]:
df = pd.DataFrame()

In [5]:
for year in years:    
    path_to_results = os.path.join(os.getcwd(), "Scenarios", scenarioname,  (str(year) + ".xlsx"))
    data = pd.read_excel(path_to_results, sheet_name='energy_exchange', index_col=0)
    df.at[:, year] = data["ElectricityPriceInEURperMWH"]

In [6]:
df.head()

,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,...,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089
0,33.0,33.0,48.580253,33.0,33.0,33.0,33.0,33.000000,33.0,48.580253,...,33.0,33.0,33.0,33.0,33.0,33.0,33.000000,33.0,33.0,33.0
1,33.0,33.0,48.580253,33.0,33.0,33.0,33.0,33.000000,33.0,48.580253,...,33.0,33.0,33.0,33.0,33.0,33.0,33.000000,33.0,33.0,33.0
2,33.0,33.0,48.580253,33.0,33.0,33.0,33.0,33.000000,33.0,48.580253,...,33.0,33.0,33.0,33.0,33.0,33.0,33.000000,33.0,33.0,33.0
3,33.0,33.0,48.580253,33.0,33.0,33.0,33.0,48.580253,33.0,48.580253,...,33.0,33.0,33.0,33.0,33.0,33.0,48.580253,33.0,33.0,33.0
4,33.0,33.0,114.250000,33.0,33.0,33.0,33.0,48.580253,33.0,48.580253,...,33.0,33.0,33.0,33.0,33.0,33.0,48.580253,33.0,33.0,33.0

In [7]:
yearly_electricity_prices = pd.concat([df[2050]] + [df[column] for column in df.columns[1:]], axis=0, ignore_index=True)

In [8]:
a = yearly_electricity_prices.sort_values( ascending=False)

In [11]:
df = pd.DataFrame({'a': a})

In [14]:
df.loc[4000]

a    33.0
Name: 4000, dtype: float64